name: Deploy and Test Cluster

on:
  push:
    branches: [main]
    paths:
      - 'k8s/**'
  pull_request:
    branches: [main]
    paths:
      - 'k8s/**'
  workflow_dispatch:

jobs:
  deploy-and-test-cluster:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create KIND Cluster on EC2
        uses: helm/kind-action@v1
        with:
          cluster_name: petclinic-cluster
          version: v0.26.0

      - name: Verify cluster
        run: |
          kubectl cluster-info
          kubectl get nodes

      - name: Deploy Applications
        run: |
          kubectl apply -f k8s/

      - name: Wait for all pods to be ready
        run: |
          kubectl wait --for=condition=ready pod -l app=demo-db --timeout=180s || true
          kubectl wait --for=condition=ready pod -l app=petclinic --timeout=180s || true

      - name: Get pod status (debug)
        run: |
          kubectl get pods -A
